# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
# You can also use a connection string to a database hosted on a cloud provider.
DATABASE_URL=""

# The base URL of your application, used for signing in with Google.
NEXTAUTH_URL="http://localhost:3000"

# The secret used to secure session cookies in NextAuth.js
# Run 'openssl rand -base64 32' in git bash terminal within VS Code to generate a secret. 
NEXTAUTH_SECRET=""

# Google OAuth Credentials, you can get these from the Google Developer Console.
# See the documentation for more detail: https://next-auth.js.org/providers/google
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""